@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&display=swap');


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Naskh Arabic", sans-serif;
  background: #ebedf0;
}

.x1ujvgzy {
  fill: #1877f2;
}

.header-1 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 0.5px solid rgb(233, 233, 233);
  background: white;
  position: sticky;
  top: 0;
}

.facebook-icon {
  display: flex;
  justify-content: center;
}
.messenger-icon {
  background-color: #ebedf0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
}
